{% extends 'base.html' %} {% block contents %}
<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <form method="POST" action=".">
        {% csrf_token %} {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% ifequal field.name 'contents' %}
          <textarea
            class="form-control"
            name="{{ field.name }}"
            palceholder="{{ filed.label }}"
          ></textarea>
          {% else %}
          <input
            type="{{ field.field.widget.input_type }}"
            class="form-control"
            id="{{ field.id_for_label }}"
            palceholder="{{ field.label }}"
            name="{{ field.name }}"
          />
          {% endifequal %}
        </div>
        {% if field.error %} {% endif %}
        <span style="color: red">{{ field.errors }}</span>
        {% endfor %}
        <div class="row mt-5">
          <button
            type="button"
            class="btn btn-primary"
            onclick="location.href='/board/list/'"
            style="margin-bottom: 10px"
          >
            돌아가기
          </button>
          <button type="submit" class="btn btn-primary">등록하기</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
